/*Navigation Bar*/
.navbar-inner {
  background: $primary-color;
  background-image: none;
  height:60px;
}

.title_box {
  color:white;
}

.title {
  text-align: center;
  vertical-align: middle;
  line-height: 58px;
  margin:5px 0px 5px 0px;
  font-size: 16pt;
  font-weight:100;
}


.left_button {
  color:white;
  line-height: 40px;
  margin-top: 10px;
}

.right_button {
  color:white;
  line-height: 40px;
  margin-top: 10px;
}

.true {
  text-decoration:underline;
}